<a href="https://colab.research.google.com/github/Renan-LS/-data-engineer-short-challenge/blob/main/gove-case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

# Ler o arquivo CSV com o codec 'latin-1'
df = pd.read_csv('/content/Arquivo_limpar.csv', sep=';', encoding='latin-1')

# Exibir o DataFrame
print(df)

     Cod Cliente          Nome  DocId (11 digitos)  \
0       CC000001     Cliente 1                 555
1       CC001124  Cliente 1124                1623
2       CC007704  Cliente 7704               79261
3       CC007727  Cliente 7727               79284
4       CC000001     Cliente 1                3558
...          ...           ...                 ...
8646    CC008648  Cliente 8648              960555
8647    CC008649  Cliente 8649              960565
8648    CC008650  Cliente 8650              960575
8649    CC008651  Cliente 8651              960585
8650           0           NaN                   0

                                              endereco   seq
0                             RUA 10 DE MAIO, 101 - tt     1
1             Rua Eudoria Xavier da Silva, 3231 - casa     2
2                         RUA PRINCIPAL, 2 - CONGONHAL     3
3                           BRAZILIANO BRANDAO , 70 -      4
4                RUA ISMENEA MARIA DOS SANTOS , 445 -      5
...                                                ...   ...
8646                                   CUMBICA ,  - 44  8648
8647  JANDYRA  R MACHADO DA ROSA,  - 0,166666666666667  8649
8648                                   RUA 16,  - 44 C  8650
8649                  RUA JOSE CORREA ANTUNES,  - 3434  8651
8650              SARG JOAO BATISTA MIRANDA, 10 - CASA  8652

[8651 rows x 5 columns]

In [21]:
df.head()

,Cod Cliente,Nome,DocId (11 digitos),endereco,seq
0,CC000001,Cliente 1,555,"RUA 10 DE MAIO, 101 - tt",1
1,CC001124,Cliente 1124,1623,"Rua Eudoria Xavier da Silva, 3231 - casa",2
2,CC007704,Cliente 7704,79261,"RUA PRINCIPAL, 2 - CONGONHAL",3
3,CC007727,Cliente 7727,79284,"BRAZILIANO BRANDAO , 70 -",4
4,CC000001,Cliente 1,3558,"RUA ISMENEA MARIA DOS SANTOS , 445 -",5